<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taksitm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.taksitm.layout.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <activity
            android:name="com.example.taksitm.layout.EnterLayout"
            android:screenOrientation="portrait" />
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <activity
            android:name="com.example.taksitm.layout.ChoiceLayout"
            android:screenOrientation="portrait" >
        </activity>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <activity
            android:name="com.example.taksitm.layout.OrderLayout"
            android:label="@string/title_activity_order_layout"
            android:screenOrientation="portrait" >
        </activity>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <activity
            android:name="com.example.taksitm.layout.ConfirmLayout"
            android:label="@string/title_activity_confirm_layout" >
        </activity>
        <activity
            android:name="com.example.taksitm.layout.HistoryLayout"
            android:label="@string/title_activity_history_layout" >
        </activity>
        <activity android:name=".layout.SettingLayout"/>
    </application>

</manifest>